{% extends "base.html" %}

{% block title %}View Material{% endblock %}

{% block barnav %}
    {% include "navbar-teacher.html" %}
    {% include "navbar-teacher-secondary.html" %}
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 150px;">
    <div class="announcement-content mt-4"> <!-- Add 'mt-4' for top margin -->
        <!-- Display the material title -->
        <h1 style="text-align: justify; font-family: 'ProdigySansExtraBold';">{{ material.title|upper }}</h1>

        <!-- Display the teacher who created the material and date of creation -->
        <p class="text-muted" style="text-align: justify; font-family: 'ProductSansBold';">
            Posted on: {% if material.created_at %}{{ material.created_at.strftime('%Y-%m-%d %H:%M') }}{% else %}Date not available{% endif %}
        </p>

        <!-- Display the material content -->
        <p style="text-align: justify; font-family: 'ProductSansBold';">{{ material.content }}</p>

        <!-- Display a download link for the material file -->
        {% if material.file_path %}
            <p style="font-family: 'ProductSansBold';"><a class="link-offset-2 link-underline link-underline-opacity-100" href="{{ url_for('static', filename='files/' + material.file_path) }}" download>Download Material File</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
